

  

.navbar{
    justify-content: center;
    padding-left: 27%;
    padding-right: 27%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-size: 20px;
    background: #ebebeb;
    background-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -6px;
}

.word1{
    margin-right: 20px;
}
.word2{
    margin-right: 20px;
}
.word3{
    margin-right: 20px;
}
.word4{
    margin-right: 20px;
}
.word5{
    margin-right: 20px;
}
.word6{
    margin-right: 20px;
}
.word7{
    margin-right: 20px;
}
.word8{
    margin-right: 20px;
}
.word9{
    margin-right: 20px;
}
.word10{
    margin-right: 20px;
}
.word11{
    margin-right: 20px;
}

.products{
    background: white;
}

.line3{
    background: #ebebeb;


}

