h1 {
    color:coral;
    font-size:40px;
    

}
p {
    color:darkcyan;
    font-size: 32px;
    font-family:'Alkalami', serif;
}

img {
   display: block;
    border: 2px solid lawngreen;
    width: 400px; height: 200px;
}