#the{
    color: red;
}
#quick{
    color: orange;
}
#brown{
    color: yellow;
}
#fox{
    color: green;
}
#jumps{
    color: blue;
}
#over{
    color: blueviolet;
}
#pinkthe{
    color: pink;
}
#lazy{
    color: white;
}
#dog{
    color: grey;
    
}


